<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eConnectConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=GP2013-V;Initial Catalog=TWO"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>