<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
      name = This needs to match the name of the section that the settings are stored
      type = is a 2 part value.  Part 1 is the full path (w/ namespace to the class that will hold
          this data.  Part 2 is the name of the assembly this class is found in.
    -->
    <section name="masterProviderSettings" type="MasterProvider.Module.MasterProviderSettings, MasterProvider.Module"/>
  </configSections>
	<appSettings>
		<add key="Modules" value=""/>
		<add key="NewVersionServer" value=""/>
		<add key="EnableDiagnosticActions" value="False"/>
		<!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="ApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		-->
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="RemoteLocation" value="http://localhost:8885/myHttpServer"/>
	</appSettings>
  <masterProviderSettings>
    <assemblies>
      <add assemblyName="GPObjectLibrary.Module" connectionStringName="GPConnectionString"/>
      <add assemblyName="ISS.Module.Memory" connectionStringName="MemoryConnectionString"/>
      <!--<add assemblyName="GPObjectsPartial.Module" connectionStringName="GPTargetConnectionString"/>
      <add assemblyName="GPDynamics.Module" connectionStringName="GPDynamicsConnectionString"/>-->
    </assemblies>
  </masterProviderSettings>
	<connectionStrings>
		<!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
    		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=ISS"/>
		-->
		
		<!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
    -->
    <add name="ConnectionString" connectionString="User Id=sa;Password=in$pire34;Pooling=false;Data Source=localhost\sqlexpress;Initial Catalog=MPTest"/>
    <add name="GPConnectionString" connectionString="User Id=sa;Password=in$pire34;Pooling=false;Data Source=localhost\sqlexpress;Initial Catalog=TWO"/>
    <add name="MemoryConnectionString" connectionString="Memory"/>
	</connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			
			<add name="eXpressAppFramework" value="3"/>
			<!--
			<add name="XPO" value="3" />
			-->
		</switches>
	</system.diagnostics>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.2, Version=24.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.2, Version=24.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        </modules>
    </system.webServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
