<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="GPConnectionString" connectionString="User Id=sa;Password=in$pire34;Pooling=false;Data Source=gp2018-v.insyst.local;Initial Catalog=TWO"/>
  </connectionStrings>
</configuration>